/* Reset & base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #918450; /* brun clair */
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.login-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Main content */
main {
  flex: 1;
}

/* LOGIN FORM */
.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #A41623;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #F85E00;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #FFB563;
}

/* INDEX – Filters + Places */
main h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#filter {
  text-align: center;
  margin-bottom: 2rem;
}

#filter label {
  font-weight: bold;
  margin-right: 0.5rem;
}

#filter select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Places list grid */
#places-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Place cards  */
.place-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.place-card h2 {
  font-size: 1.3rem;
}

.place-card p {
  font-size: 1rem;
  color: #333;
}

/* Details button */
.details-button {
  background-color: #A41623;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #FFB563;
}
